<div class="nested-fields">
  <%= f.label :ref_evidence_summary, "証拠" %>
  <%= f.text_field :ref_evidence_summary %>
  <%= f.label :ref_evidence_detail, "証拠詳細" %>
  <%= f.text_area :ref_evidence_detail %>
  <%= link_to_remove_association "証拠を削除", f %>
</div>
