<div class="nested-fields">
    <%= f.label :evidence_summary, "証拠概要" %>
    <%= f.text_field :evidence_summary %>
    <%= f.label :evidence_detail, "証拠詳細" %>
    <%= f.text_area :evidence_detail %>
    <%= link_to_remove_association "証拠を削除", f %>
</div>
