<div class="nested-fields">
  <div class="basis">
    <div class="endpoint"></div>
    <div class="reason box">
      <h3>理由</h3>
      <div class="inner">
        <%= f.text_field :reason_summary, class: 'adjust-entered-text-width' %>
      </div>
      <h3>理由詳細</h3>
      <div class="inner">
        <%= f.text_area :reason_detail, class: 'adjust-entered-text-width' %>
      </div>
      <%= link_to_remove_association "理由を削除", f %>
    </div>

    <div class="evidences nested_evidences_forms">
      <%= f.fields_for :evidences do |nested_evidence_form| %>
        <%= render "evidence_fields", f: nested_evidence_form %>
      <% end %>

      <div class="add_nested_evidence_form">
        <%= link_to_add_association "証拠を追加", f, :evidences, data: { association_insertion_method: 'after' } %>
      </div>
    </div>
  </div>
</div>
