<div class="nested-fields">
  <%= f.label :reason_summary, "理由" %>
  <%= f.text_field :reason_summary %>
  <%= f.label :reason_detail, "理由詳細" %>
  <%= f.text_area :reason_detail %>
  <%= link_to_remove_association "理由を削除", f %>

  <div class="nested_evidences_forms">
    <%= f.fields_for :evidences do |nested_evidence_form| %>
      <%= render "evidence_fields", f: nested_evidence_form %>
    <% end %>
  </div>

  <div class="add_nested_evidence_form">
    <%= link_to_add_association "証拠を追加", f, :evidences, data: { association_insertion_method: 'after' } %>
  </div>
</div>
