<div class="container">
  <div class="top_wrapper">
    <h2>さあ､｢視える｣ディスカッションをはじめよう!!</h2>
    <%= image_tag "discussion_image.png", width: "100%" %>
  </div>
  <div class="main_wrapper">
    <div class="usage_explanation">
      <h2>【VisuDis使い方 字幕解説】</h2>
      <p>※ PCでアプリを使用しながら解説しています｡</p>
      <p class="red_annotation">※ 本アプリはPCでの使用を強く推奨します｡</p>
      <div class="explanation_of_usage_video">
        <iframe src="https://www.youtube.com/embed/BCmfp9Dlnu0" title="【VisuDis使い方 字幕解説】" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
      </div>
    </div>
    <div class="overview">
      <h2>VisuDisuとは?</h2>
      <ul>
        <li><strong>文面のやりとりを通じてディスカッションを行いたい人</strong>  に向けた､</li>
        <li><strong>視覚的に分かりやすいディスカッションを行う</strong>  ための､</li>
        <li><strong>ディスカッション情報を視覚化することに特化したコミュニュケーションアプリ</strong></li>
      </ul>
    </div>
    <div class="sales_point">
      <h2>｢視える｣ディスカッション実現のために､3つの情報を視覚化</h2>
      <div class="three_visualized_information">
        <div class="visualized_information">
          <h3>① 意見の種類</h3>
            <%= image_tag "visualized_info1_1.png", width: "100%", class: "vertical_alignment_image" %>
            <%= image_tag "visualized_info1_2.png", width: "100%", class: "vertical_alignment_image" %>
          <p>意見を｢主張｣と｢反論｣の2種類に大別し､<br>
            両者を色で判別できるよう､<br>
            ｢主張｣を｢<span class="pink_text">ピンク</span>｣､｢反論｣を｢<span class="blue_text">青</span>｣で色分け</p>
        </div>
        <div class="visualized_information">
          <h3>② 意見の構成</h3>
          <%= image_tag "visualized_info2.png", width: "100%" %>
          <p>意見の構成要素である｢結論｣｢理由｣｢証拠｣を<br>
            ツリー型に配置
          </p>
        </div>
        <div class="visualized_information">
          <h3>③ どの反論が､どの意見の<br>
            どの部分に対して､<br>
            批判を提示しているのか
          </h3>
            <div class="red_connection_images">
              <%= image_tag "visualized_info3_1.png", width: "50%" %>
              <%= image_tag "visualized_info3_2.png", width: "50%" %>
            </div>
          <p>反論左上の｢●｣から､<br>
            意見中の｢結論｣｢理由｣｢証拠｣要素の<br>
            左右の｢<span class="pink_endpoint">●</span>  or  <span class="blue_endpoint">●</span>｣や､<br>
            各要素間の｢<span class="pink_endpoint">●</span>  or  <span class="blue_endpoint">●</span>｣に向けて､<br>
            赤色の接続線を引くことが可能
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="information_wrapper">
    <% if current_user %>
      <%= link_to '新たな議題ボードを作成する', new_agenda_board_path, class: 'top_page_button' %>
    <% else %>
      <%= link_to 'サインアップする', sign_up_path, class: 'top_page_button' %>
    <% end %>
    <% if current_user %>
      <div class="search_area">
        <p>既存の議題ボードを検索する</p>
        <div class="search_forms">
          <%= search_form_for @search, url: category_search_agenda_boards_path do |form| %>
            <%= form.select :category_cont, options_for_select(["ビジネス", "哲学", "歴史", "社会科学", "自然科学", "技術・工学", "産業", "芸術・美術", "言語", "文学", "その他"], selected: @search.category_cont), {include_blank: '選択してください'}, { id: "agenda_board_search_category" } %>
            <br>
            <%= form.submit 'カテゴリ名で検索', class: 'top_page_button' %>
          <% end %>
          <%= search_form_for @search, url: agenda_search_agenda_boards_path do |form| %>
            <%= form.search_field :agenda_cont, placeholder: '議題名(複数単語可)' %>
            <br>
            <%= form.submit '議題名で検索', class: 'top_page_button' %>
          <% end %>
        </div>
      </div>
    <% else %>
      <div class="login_area">
        <%= link_to 'ログインする', sign_in_path, class: 'top_page_button' %>
        <%= link_to 'ゲストログインする', users_guest_sign_in_path, method: :post, class: 'top_page_button' %>
      </div>
    <% end %>
  </div>
</div>
<footer>
  <p>&copy;  2023  齋藤真一</p>
</footer>
