<div class="container">
  <div class="top_wrapper">
    <h1>さあ､｢視える｣議論をはじめよう!!</h1>
    <%= image_tag "discussion_image.png" %>
  </div>
  <div class="main_wrapper">
    <div class="sales_point">
      <div class="three_points">
        <h2>以下の3点が一目で分かる!</h2>
        <ul>
          <li>① <strong>何</strong>(主張? 反論?) が､</li>
          <li>② <strong>どこ</strong>(上? 下? 右? 左?)にあって､</li>
          <li>③ <strong>どの部分</strong>(結論と理由の間?)に繋がっているのか</li>
        </ul>
      </div>
      <%= video_tag "/videos/sample_movie.mp4", controls: true, muted: true, width: "600", class: "sample_movie" %>
    </div>
  </div>
  <div class="information_wrapper">
    <% if current_user %>
      <%= link_to '新たな議題ボードを作成する', new_agenda_board_path %>
    <% else %>
      <%= link_to '新規登録して議題ボードを作成する', sign_up_path %>
    <% end %>
    <% if current_user %>
      <div class="search_area">
        <p>既存の議題ボードを検索する</p>
        <div class="search_forms">
          <%= search_form_for @search, url: category_search_agenda_boards_path do |form| %>
            <%= form.select :category_cont, options_for_select(["ビジネス", "哲学", "歴史", "社会科学", "自然科学", "技術・工学", "産業", "芸術・美術", "言語", "文学", "その他"], selected: @search.category_cont), {include_blank: '選択してください'}, { id: "agenda_board_search_category" } %>
            <br>
            <%= form.submit 'カテゴリ名で検索'%>
          <% end %>
          <%= search_form_for @search, url: agenda_search_agenda_boards_path do |form| %>
            <%= form.search_field :agenda_cont, placeholder: '議題名(複数単語可)' %>
            <br>
            <%= form.submit '議題名で検索' %>
          <% end %>
        </div>
      </div>
    <% else %>
      <div class="login_area">
        <%= link_to 'ログインする', sign_in_path %>
        <%= link_to 'ゲストログインする', users_guest_sign_in_path, method: :post %>
      </div>
    <% end %>
  </div>
</div>
