<div class="agenda">
  <h1><%= @agenda_board.agenda %></h1>
    <% @conclusions.each_with_index do |conclusion, c_i| %>
      <h3 class="claimant_name"><%= current_user.name %>さんの主張</h3>
      <div class="argument">
        <div class="conclusion box" id="conclusion<%= c_i %>">
          <h3>結論</h3>
          <div class="inner">
            <%= conclusion.conclusion_summary %>
          </div>
          <h3>結論詳細</h3>
          <div class="inner">
            <%= conclusion.conclusion_detail %>
          </div>
        </div>

        <div class="bases">
          <% conclusion.reasons.each_with_index do |reason, r_i| %>
            <div class="basis">
              <div class="endpoint endpoint_between_conclusion<%= c_i %>_and_reason" id="endpoint_between_conclusion<%= c_i %>_and_reason<%= r_i %>_of_conclusion<%= c_i %>"></div>
              <div class="reason box reason_of_conclusion<%= c_i %>" id="reason<%= r_i %>_of_conclusion<%= c_i %>">
                <h3>理由</h3>
                <div class="inner">
                  <%= reason.reason_summary %>
                </div>
                <h3>理由詳細</h3>
                <div class="inner">
                  <%= reason.reason_detail %>
                </div>
              </div>

              <div class="evidences">
                <% reason.evidences.each_with_index do |evidence, e_i| %>
                  <div class="evidence">
                    <div class="endpoint endpoint_between_reason<%= r_i %>_of_conclusion<%= c_i %>_and_evidence" id="endpoint_between_reason<%= r_i %>_of_conclusion<%= c_i %>_and_evidence<%= e_i %>_of_reason<%= r_i %>_of_conclusion<%= c_i %>"></div>
                    <div class="evidence box evidence_of_reason<%= r_i %>_of_conclusion<%= c_i %>" id="evidence<%= e_i %>_of_reason<%= r_i %>_of_conclusion<%= c_i %>">
                      <h3>証拠</h3>
                      <div class="inner">
                        <%= evidence.evidence_summary %>
                      </div>
                      <h3>証拠詳細</h3>
                      <div class="inner">
                        <%= evidence.evidence_detail %>
                      </div>
                    </div>
                  </div>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  <%= button_to "新規主張作成", new_argument_path, method: :get, params: {agenda_board_id: @agenda_board.id, agenda_board_agenda: @agenda_board.agenda} %>
</div>
<script
src="https://code.jquery.com/jquery-3.5.1.min.js"
integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jsPlumb/2.14.3/js/jsplumb.min.js"></script>
<%= javascript_pack_tag 'argument' %>
