<div class="agenda">
  <h1><%= @agenda_board.agenda %></h1>
    <% @conclusions.each do |conclusion| %>
      <h3 class="claimant_name"><%= current_user.name %>さんの主張</h3>
      <div class="argument">
        <div class="conclusion box">
          <h3>結論</h3>
          <div class="inner">
            <%= conclusion.conclusion_summary %>
          </div>
          <h3>結論詳細</h3>
          <div class="inner">
            <%= conclusion.conclusion_detail %>
          </div>
        </div>

        <div class="bases">
          <% conclusion.reasons.each do |reason| %>
            <div class="basis">
              <div class="endpoint"></div>
              <div class="reason box">
                <h3>理由</h3>
                <div class="inner">
                  <%= reason.reason_summary %>
                </div>
                <h3>理由詳細</h3>
                <div class="inner">
                  <%= reason.reason_detail %>
                </div>
              </div>

              <div class="evidences">
                <% reason.evidences.each do |evidence| %>
                  <div class="evidence">
                    <div class="endpoint"></div>
                    <div class="evidence box">
                      <h3>証拠</h3>
                      <div class="inner">
                        <%= evidence.evidence_summary %>
                      </div>
                      <h3>証拠詳細</h3>
                      <div class="inner">
                        <%= evidence.evidence_detail %>
                      </div>
                    </div>
                  </div>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  <%= button_to "新規主張作成", new_argument_path, method: :get, params: {agenda_board_id: @agenda_board.id, agenda_board_agenda: @agenda_board.agenda} %>
</div>
