<!DOCTYPE html>
<html>
  <head>
    <title>VisualDiscussion</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <header>
      <nav>
        <% if user_signed_in? %>
          Logged in as <strong><%= current_user.email %></strong>.
          <%= link_to 'プロフィール変更', edit_user_registration_path %>
          <%= link_to 'ログアウト', sign_out_path %>
          <%= link_to '新規議題ボード作成ページへ', new_agenda_board_path %>
          <%= link_to "#{current_user.name}さんが作成した議題ボード", agenda_boards_path %>
        <% else %>
          <%= link_to 'サインアップ', sign_up_path %>
          <%= link_to 'ログイン', sign_in_path %>
        <% end %>
      </nav>
    </header>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
