<!DOCTYPE html>
<html>
  <head>
    <title>VisualDiscussion</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <header>
      <div class="header_container">
        <div class="header_left">
          <%= link_to root_path do %>
            <%= image_tag "logo_image.png" %>
          <% end %>
          <% if current_user %>
            <%= search_form_for @search, url: category_search_agenda_boards_path do |form| %>
              <%= form.select :category_cont, options_for_select(["ビジネス", "哲学", "歴史", "社会科学", "自然科学", "技術・工学", "産業", "芸術・美術", "言語", "文学", "その他"], selected: @search.category_cont), {include_blank: '選択してください'}, { id: "agenda_board_search_category" } %>
              <br>
              <%= form.submit 'カテゴリ名で検索'%>
            <% end %>
            <%= search_form_for @search, url: agenda_search_agenda_boards_path do |form| %>
              <%= form.search_field :agenda_cont, placeholder: '議題名(複数単語可)' %>
              <br>
              <%= form.submit '議題名で検索' %>
            <% end %>
          <% end %>
        </div>
        <nav>
          <% if user_signed_in? %>
            <%= link_to edit_user_registration_path do %>
              ユーザー<br>情報編集
            <% end %>
            <%= link_to sign_out_path do %>
              ログ<br>アウト
            <% end %>
            <%= link_to new_agenda_board_path do %>
              新規議題<br>ボード作成
            <% end %>
            <%= link_to current_user_created_agenda_boards_path  do %>
              <%= current_user.name %>さんが<br>作成した議題ボード
            <% end %>
            <%= link_to current_user_posted_opinion_agenda_boards_path do %>
              <%= current_user.name%>さんが<br>発言した議題ボード
            <% end %>
          <% else %>
            <%= link_to 'サインアップ', sign_up_path %>
            <%= link_to 'ログイン', sign_in_path %>
            <%= link_to 'ゲストログイン', users_guest_sign_in_path, method: :post %>
          <% end %>
        </nav>
      </div>
    </header>
    <div class="flash_message_block">
      <p class="notice"><%= flash[:notice] %></p>
      <% if flash[:alert] %>
        <p class="alert"><%= flash[:alert] %></p>
      <% elsif flash[:error_full_messages] %>
        <% flash[:error_full_messages].each do |alert| %>
          <p class="alert"><%= alert %></p>
        <% end %>
      <% end %>
    </div>
    <main>
      <%= yield %>
    <main>
  </body>
</html>
